.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    width: 950px;
    height: 900px;
    overflow: hidden;
}

.iframe {
    position: relative;
    top: -180px;
    left: -450px;
    width: calc(100% + 910px);
    height: calc(100% + 100px);
}