@import "../../styles/theme";
.container {
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.8rem, 1.5vw, 2.5vw);
  // border: 2px solid black;
}
.homeContainer {
  @extend .container;
  // background: linear-gradient(355deg, $THEME_BLUE 35%, #fff 35%);
  .sectionTitle {
    color: #333;
  }
}

.fpContainer {
  @extend .container;
  background-color: #fafafa;
}

.dnaContainer {
  @extend .container;
  .choiceList {
    width: 80vw;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .choiceList > * {
    padding: 1vw;
  }
}

.choiceList {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 auto;
  width: 65vw;
  // border: 1px solid black;
  //! display: grid is hard!!!!
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
}

.choiceList > * {
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}
.hvr1 > *:hover {
  box-shadow: rgba(68, 227, 238, 0.928) 0px 0px 0px 2px,
    rgba(68, 227, 238, 0.928) 0px 4px 6px -1px,
    rgba(68, 227, 238, 0.928) 0px 1px 0px inset;
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  background-color: rgb(221, 235, 240);
}
.hvr2 > *:hover {
  box-shadow: #ee4599 0px 0px 0px 2px, #ee4599 0px 4px 6px -1px,
    #ee4599 0px 1px 0px inset;
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  background-color: rgb(247, 239, 242);
}
.hvr3 > *:hover {
  box-shadow: rgba(68, 227, 238, 0.928) 0px 0px 0px 2px,
    rgba(68, 227, 238, 0.928) 0px 4px 6px -1px,
    rgba(68, 227, 238, 0.928) 0px 1px 0px inset;
  transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.sectionTitle {
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
  margin: 0 1rem;
  text-align: center;
}

.sectionBrief {
  color: #333;
  @media screen and (max-width: 500px) {
    // font-size: 14px;
  }
  font-size: 20px;
  font-weight: 700;
  margin: 10px 5px;
  text-align: center;
}

.selBox {
  height: 25vh;
  width: 70%;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  flex-shrink: 0;
  margin: 0.5rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.selImg {
  flex: 1;
  height: 5vw;
  width: auto;
  margin-top: 4px;
  color: blueviolet;
}
.selTxt {
  font-size: 1.3em;
  font-weight: 700;
  flex: 1;
  margin: 5px 0;
  text-align: center;
}

.calcContainer {
  padding-top: 0;
  padding-bottom: 2rem;
  display: flex;
  background: $THEME_BLUE;
  flex-direction: column;

  .calcInnerContainer {
    display: flex;
    background: $THEME_BLUE;
    flex-direction: row;
    @media screen and (max-width: 500px) {
      flex-direction: column-reverse;
    }

    img {
      @media screen and (max-width: 500px) {
        width: 60%;
        height: auto;
      }
      height: 80%;
      width: auto;
    }
  }

  .calcContent {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .calcSectionTitle {
    @extend .sectionTitle;
    font-size: 24px;
    color: white;
  }

  .calcSectionBrief {
    @extend .sectionBrief;
    font-size: 14px;
    color: white;
  }

  .calcButton {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 2rem auto;
    box-shadow: 2px 4px 0 2px rgba(200, 200, 200, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .choiceList {
    grid-template-columns: 50% 50% !important;
    width: 100%;
  }
  .selImg {
    height: 10vh;
  }
}

@media screen and (max-width: 400px) {
  .choiceList {
    grid-template-columns: 100% !important;
    width: 100%;
  }
  .homeContainer {
    padding: 1rem;
  }
  .selImg {
    height: 7vh;
  }
  .selBox {
    padding: 1vh !important;
  }
}
