.container {
    margin: 1rem 0;
  }
  
  .withdrawafterDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  }
  
  .withdrawafterInput {
    width: 30px;
    text-align: center;
    border: 1px solid #aaa;
    height: 22px;
    border-radius: 12px;
    margin-left: 0.5rem;
  }
  